[Desktop Entry]
Name=osu! Extract
Exec=/home/diced/scripts/osu.sh %u
Type=Application
Icon=lutris_osu
Categories=Games;wine;lutris;
MimeType=application/x-osu-beatmap-archive
